{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container" style="width: 100%; margin: 1em auto; text-align: center;">
    <h1>Welcome to CraftCold AI</h1>


    <h5 class="mt-5">CraftCold AI is a smart and efficient solution designed to revolutionize how businesses approach client
        communication.</h5>


    <h5 class="mt-5">Automated Cold Email Generation: Generate professional and tailored cold emails for potential clients based on
        job descriptions and relevant industry needs.</h5>

</div>

{% include 'footer.html' %}
