{% include 'header.html' %}
{% include 'navbar.html' %}
<style>
    body {
        background-color: #c9c9c9;
    }

    .form-control {
        /* background-color: #e1e1e1; */
        border-radius: 10px;
        padding: 0.60rem;
    }

    .profile {
        background-color: #e3e3e3;
        border-radius: 10px;
    }

    .container {
        margin-top: 1em;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .alert {
        margin-top: 1em;
    }

</style>

<div class="container">
    <h1 class="text-center mb-4">Login</h1>
    <form action="/login" method="POST" class="p-3 profile">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-success w-50">Login</button>
    </form>

    {% if invalid %}
    <div class="alert alert-danger text-center" role="alert">
        <h6>Invalid username or password</h6>
    </div>
    {% endif %}

</div>
{% include 'footer.html' %}
