{% include 'header.html' %}
{% include 'navbar.html' %}
<style>
    .container {
        margin-top: 1em;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .alert {
        margin-top: 1em;
    }

</style>

<div class="container">
    <h1 class="text-center mb-4">Login</h1>
    <form action="/login" method="POST" class="p-3 shadow-sm rounded bg-light">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-success w-50">Login</button>
    </form>

    {% if invalid %}
    <div class="alert alert-danger text-center" role="alert">
        <h6>Invalid username or password</h6>
    </div>
    {% endif %}

</div>
{% include 'footer.html' %}
